<% content_for :title, "ITP Courses" %>
<h1>ITP Web Development Courses</h1>
<% if @terms.empty? %>
  <p>No active courses at the moment.</p>
<% else %>
  <p>Please choose a course to visit the class site.</p>
  <ul id="course-list" class="course-list">
    <% @terms.each do |term| %>
      <% term.courses.each do |course| %>
        <li class="course active-course">
          <%= link_to(course_path({ term_id: term.id, course_slug: course.slug })) do %>
            <%= term %> - <%= course.name %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
